<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>DSC Task</title>
    <style type="text/css">
      html,body
      {
        height: 100%;
      }

      .container
      {
        width:100%;
        height:100%;
      }

      .main-body
      {
        padding: 2%;
      }

      .page-header
      {
        padding:5%;
      }

      .btn:hover
      {
        font-weight: 600;
      }

    </style>
  </head>
  <body>
    <div class="container">

    <div class="page-header text-center">
        <h1>Weather Report</h1>
        <div class="row">
            <div class="col">

            </div>
            <div class="col-lg-2 text-center">
                <a href="/logout" class="btn btn-default btn-sm">Logout</a>
            </div>
            <div class="col-lg-2  text-center">
                <a href="/history" class="btn btn-default btn-sm">History</a>
            </div>
            <div class="col">

            </div>
        </div>

    </div>

    <div class="row text-center">


        <div class="col-sm-12 main-body">
            <div class="well">
                <h3 class="text-danger">Hey <%= name %>!</h3>

                    <p>
                        <strong>Temp</strong>: <%= temp %> °C<br>
                        <strong>Place</strong>: <%= place %><br>
                        <strong>Humidity</strong>: <%= humidity %><br>
                        <strong>Windspeed</strong>: <%= windspeed %><br>
                        <strong>Weather Condition:</strong> <%= weatherdescription %>
                        <img src="<%= pic %>" width="100" height="100" alt="">
                    </p>

            </div>
        </div>

    </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

  </body>
</html>
